name: "Test"

# actions-up-ignore-file

on:
  workflow_dispatch:
  push:
    paths:
      - ".github/workflows/test.yaml"
      - "action.yml"
      - "src/update-formula.sh"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Debug event.json"
        if: ${{ !github.event.act }}
        continue-on-error: true
        run: cat "${GITHUB_EVENT_PATH}"
      - name: "Debug CTX github"
        if: ${{ !github.event.act }}
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"
      - name: "Debug Environment"
        if: ${{ !github.event.act }}
        continue-on-error: true
        run: env

      - name: "Test Local Action"
        id: test
        uses: ./
        with:
          url: "https://example.com/toml_run-0.0.${{ github.run_number }}.tar.gz"
          sha256: "abcd1234${{ github.run_number }}"
          #version: ${{ github.ref_name }}
          repo: smashedr/homebrew-test
          formula: toml-run.rb
          message: Bump toml-run.rb to 0.${{ github.run_attempt }}.${{ github.run_number }}
          #branch: master
          #token: ${{ secrets.HOMEBREW_TEST }}
          app_id: 146360
          app_private_key: ${{ secrets.APP_PRIVATE_KEY }}
          #commit: false

      - name: "Validate Outputs"
        uses: cssnr/validate-outputs-action@master
        with:
          outputs: ${{ toJSON(steps.test.outputs) }}
          data: |
            formula: toml-run.rb
            message: Bump toml-run.rb to 0.${{ github.run_attempt }}.${{ github.run_number }}
            branch: master
            sha:
